@page "/customers"

@using DecenaSoluciones.POS.Shared.Dtos;
@using CurrieTechnologies.Razor.SweetAlert2;
@using DecenaSoluciones.POS.WebApp.Services;
@using System.Text.RegularExpressions;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]
@inject SweetAlertService Swal;
@inject ICustomerService customerService;

<h3>Clientes</h3>

<Modal @ref="addEditCustomerModal" UseStaticBackdrop="true" Fullscreen="ModalFullscreen.Always" OnHidden="OnModalHiding" />

<div class="row" style="margin-top:50px">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">        
        <AuthorizeView Roles="admin, manager">
            <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Class="float-end" @onclick="() => ShowAddEditCostumerModal(null)">Agregar clientes</Button>
        </AuthorizeView>
    </div>
</div>

<div style="margin-top:25px">
    <Grid @ref="customersGrid" TItem="CustomerViewModel"
          Class="table table-hover"
          HeaderRowCssClass="bg-dark text-white border-bottom-0 headerRow"
          Data="customerList"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="50"
          AllowSorting="true"
          AllowSelection="false"
          Responsive="true"
          PageSizeSelectorVisible="true"
          ItemsPerPageText="Clientes por página"
          PageSizeSelectorItems="new int[] { 10, 20, 50, 100 }"
          PaginationItemsTextFormat="{0} - {1} de {2} productos"
          EmptyText="No se encontraron registros para mostrar"
          AllowRowClick="true"
          OnRowClick="OnRowClick"
          RowClass="GetRowClass">

        <GridColumn TItem="CustomerViewModel" HeaderText="Nombre" PropertyName="Name" SortKeySelector="item => item.Name" HeaderTextAlignment="Alignment.Center">
            @context.Name
        </GridColumn>
        <GridColumn TItem="CustomerViewModel" HeaderText="Teléfono" PropertyName="PhoneNumber" Sortable="false" HeaderTextAlignment="Alignment.Center">
            @(context.PhoneNumber == null ? string.Empty : Regex.Replace(context.PhoneNumber, @"(\d{3})(\d{3})(\d{4})", "($1) $2-$3"))
        </GridColumn>
        <GridColumn TItem="CustomerViewModel" HeaderText="Dirección" PropertyName="Direction" SortKeySelector="item => item.Direction" HeaderTextAlignment="Alignment.Center">
            @context.Direction
        </GridColumn>
        <GridColumn TItem="CustomerViewModel" HeaderText="Producto" PropertyName="Product" SortKeySelector="item => item.Product" HeaderTextAlignment="Alignment.Center">
            @context.Product
        </GridColumn>
        <GridColumn TItem="CustomerViewModel" HeaderText="Próximo mantenimiento" PropertyName="NextMaintenance" SortKeySelector="item => item.NextMaintenance" HeaderTextAlignment="Alignment.Center">
            @(context.NextMaintenance.HasValue ? context.NextMaintenance.Value.ToString("dd/MM/yyyy") : string.Empty)
        </GridColumn>
    </Grid>
</div>

@code {
    [Inject] protected PreloadService? PreloadService { get; set; }
    List<CustomerViewModel> customerList = new List<CustomerViewModel>();
    Grid<CustomerViewModel> customersGrid = default!;
    private Modal addEditCustomerModal = default!;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            PreloadService!.Show();
            var response = await customerService.GetCustomerList();
            PreloadService.Hide();
            if (response.Success)
            {
                customerList = response.Result!.OrderBy(p=> p.NextMaintenance ?? DateOnly.MaxValue).ToList() ?? new List<CustomerViewModel>();
                await customersGrid.RefreshDataAsync();
            }
            else
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = "Se produjo un error al obtener los clientes: " + response.Message,
                        Icon = SweetAlertIcon.Error
                    });
            }
        }
        catch (Exception ex)
        {
            PreloadService!.Hide();
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "Se produjo un error al obtener los clientes: " + ex.Message,
                    Icon = SweetAlertIcon.Error
                });
        }
    }

    private string GetRowClass(CustomerViewModel cust)
    {
        if (cust.NextMaintenance != null)
        {
            var DaysToMaintenance = (cust.NextMaintenance.Value.ToDateTime(TimeOnly.MinValue) - DateTime.Now).TotalDays;

            if (DaysToMaintenance < 15)
                return "table-danger";
            else if (DaysToMaintenance < 30)
                return "table-warning";
        }

        return string.Empty;
    }

    private async Task ShowAddEditCostumerModal(CustomerViewModel? customer)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("CustomerId", customer != null ? customer.Id : 0);
        parameters.Add("OnClose", EventCallback.Factory.Create<MouseEventArgs>(this, HideAddEditProductModal));
        await addEditCustomerModal.ShowAsync<AddEditCustomerComponent>(title: customer != null ? "Actualizar cliente" : "Agregar nuevo cliente", parameters: parameters);
    }

    private async Task HideAddEditProductModal(MouseEventArgs e)
    {
        await addEditCustomerModal.HideAsync();
    }
    private async Task OnRowClick(GridRowEventArgs<CustomerViewModel> args)
    {
        await ShowAddEditCostumerModal(args.Item);
    }

    private async Task OnModalHiding()
    {
        await UpdateData();
    }
}
